@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}
.navbar-height {
    height: 100px;
}


.bg-jams {
    background-image: url(https://images.pexels.com/photos/3469692/pexels-photo-3469692.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 20px;
}

.bg-venues {
    background-image: url(https://glp.de/images/news/2018/18-SHM/SHM104.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 20px;
}

.bg-bands {
    background-image: url(https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 20px;
}

.search-bar {
    height: 40px;
    margin-bottom: 20px;
}
